html,h1,h2,h3,h4,h5,h6,p,a,span,div,s,input,select,textarea,img{margin:0px; padding:0px; border:0px; background:none;}
*{margin:0px; padding:0px;}
a{text-decoration:none; color:#666666;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
.clear{clear:both;}
body{background-color:#ffffff; overflow-x:hidden; position:relative; z-index:1; color:#666666; line-height:24px; font:12px/150% "Microsoft YaHei", "微软雅黑";}
.divtable{width:90%; height:auto; margin:auto; overflow:hidden;}
.divtable table{width:100%; height:auto;}
.divtable table th{padding:5px 10px; text-align:left; min-height:24px; overflow:hidden; color:#333; font-size:13px; width:50%;}
.divtable table th[th="th"]{text-align:center; font-size:16px; color:#333; font-weight:bold; line-height:35px; background:#f1f1f1;}
.divtable table td{padding:5px 3px; min-height:24px; overflow:hidden; width:50%;}
.divtable table span{color:#F00; margin:1px;}
.divtable table input{width:95%; padding-left:3px; height:26px; border:1px solid #dcdcdc; margin:3px 5px; color:#333; outline:medium;}
.divtable table textarea {
    width: 95%;
    padding-left: 3px;
    height: 100px;
    border: 1px solid #dcdcdc;
    margin: 3px 5px;
    color: #333;
    outline: medium;
}
.divtable table .headpic {
    margin-left: 80px;
    height: 80px;
}
.divtable table label{float:left;}
.divtable table label[fontsize="fontsize"]{margin-left:8px; font-size:14px;}
.divtable table label[ff="ff"]{margin-top:8px;}
.divtable table input[type=radio]{width:14px; height:14px; margin:10px 5px 0px; float:left; border:none !important;}
.divtable table input[type=checkbox]{width:14px; height:14px; margin:10px 5px 0px; float:left;}
.divtable table select{width:96.5%; padding-left:5px; height:28px; border:1px solid #dcdcdc; margin:3px 5px; float:left; color:#333; outline:medium;}
.divtable table select.chang{width:98.5%;}
.divtable table .radiohang{width:100%; height:auto; margin:3px 5px;}
.divtable table .radiohang input{width:14px; height:14px; border:none; float:left; margin:3px 3px;}
.divtable table .radio{width:auto; height:auto; float:left; margin:3px 25px 3px 5px; overflow:hidden;}
.divtable table .radio input{width:14px; height:14px; border:none; float:left; margin:3px 3px;}
.divtable table input.duan{width:14.67%;}
.divtable table input.chang{width:28.65%;}
.divtable table input[type=button]{width:11.67%; height:28px; background:#84c810; cursor:pointer; text-align:center; line-height:28px; padding:0px; margin-right:10px; margin-bottom:20px; font-weight:bold; color:#FFF; font-size:14px; border:none; border-bottom-left-radius:5px; border-top-left-radius:5px; border-bottom-right-radius:5px; border-top-right-radius:5px; -webkit-border-top-left-radius:5px; -webkit-border-bottom-left-radius:5px; -webkit-border-top-right-radius:5px; -webkit-border-bottom-right-radius:5px;}
.divtable table td .nofind{font-size:12px; line-height:28px; color:#333; clear:both;}
.divtable table td .nofind p{margin:auto 5px;}
.divtable table td .nofind p span{font-size:12px; color:#999;}


.listtable .hide_table{width:100%; height:auto; margin:auto; overflow:hidden;}
.listtable .hide_table th{text-align:left; min-height:24px; overflow:hidden; color:#333; font-size:13px; padding:2px 0px;}
.listtable .hide_table input{padding-left:3px; height:26px; width: 215px; border:1px solid #dcdcdc; margin:3px 1px; color:#333; outline:medium;}
.listtable .hide_table select{padding-left:5px; height:28px; width: 220px; border:1px solid #dcdcdc; margin:3px 1px; color:#333; outline:medium;}
.listtable .hide_table input[type=button]{width:56px; height:28px; background:#84c810; cursor:pointer; text-align:center; line-height:28px; padding:0px; margin-right:10px; margin-bottom:20px; font-weight:bold; color:#FFF; font-size:14px; border:none; border-bottom-left-radius:5px; border-top-left-radius:5px; border-bottom-right-radius:5px; border-top-right-radius:5px; -webkit-border-top-left-radius:5px; -webkit-border-bottom-left-radius:5px; -webkit-border-top-right-radius:5px; -webkit-border-bottom-right-radius:5px;}


.i_ch{background:url(/img/icons/guoqi.png) no-repeat; width:0px;height:0px;overflow:hidden;line-height:0px; font-size:0px;padding:12px;}
.i_en{background:url(/img/icons/diqiu.png) no-repeat; width:0px;height:0px;overflow:hidden;line-height:0px; font-size:0px;padding:12px;}
