@model List<Model.News>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table border="1">
    <tr>
        <td>ID</td>
        <td>Title</td>
        <td>Content</td>
        <td>Class</td>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.Title</td>
            <td>@item.Content</td>
            <td>@item.NewsClass.CName</td>
        </tr>
    }

</table>

