<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="WebSite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<appSettings>
		<!--服务器IP地址-->
		<add key="DataIP" value="221.122.108.166"/>
		<!--<add key="DataIP" value="127.0.0.1"/>-->
		<!--数据库类型-->
		<add key="DataType" value="MYSQL"/>
		<!--数据库端口号-->
		<add key="DataPort" value="3306"/>
		<!--用户名-->
		<add key="DName" value="techmax2020"/>
		<!--<add key="DName" value="root"/>-->
		<!--密码-->
		<add key="DPwd" value="93ED1E6481CAED2F1C85BF6AD24E93BE"/>
		<!--<add key="DPwd" value="934C2D54A2158F9C6669410E3D200126"/>-->
		<!--数据名-->
		<add key="DataName" value="techmax2020"/>
		<!--会议类型-->
		<add key="MType" value="MT1000"/>
		<!-- 大会编码 -->
		<add key="Mcode" value="HY1000"/>
		<!-- 邮件设置 -->
		<!-- 企业邮箱 -->
		<add key="Email" value="vip@i-conference.org"/>
		<!-- 企业邮箱密码 -->
		<add key="EmailPassword" value="Techmax2016"/>
		<!-- 个人邮箱密码 -->
		<add key="P_EmailPassword" value="med59001126"/>
		<!-- 企业邮箱smtp -->
		<add key="SmtpServer" value="smtp.qiye.163.com"/>
		<!-- 个人邮箱smtp -->
		<add key="P_SmtpServer" value="smtp.163.com"/>
		<add key="SmtpPort" value="25"/>
		<!--微信AppID-->
		<add key="AppID" value="wxda856b5efab3f523"/>
		<!--微信AppSecret-->
		<add key="AppSecret" value="11f13022c77ffb1d0af2139569658717"/>
		<!--模板ID-->
		<add key="TemplateID" value="Ig4KEHsjLsiE-FTfH7AF7_oduiKf-G4LzPRpHQW1fyU"/>

		<!--管理员登录是否开启手机验证；开启：1；不开启：0-->
		<add key="IsCheckMobile" value="0"/>
		<!--短信签名-->
		<add key="signature" value="iConference"/>

		<!--FTP上传文件-->
		<add key="ftp_ip" value="221.122.108.166"/>
		<add key="ftp_username" value="skins"/>
		<add key="ftp_password" value="4ggJH5TH"/>
		<add key="ftp_upload_url" value="http://resource.i-conference.cn/skins/"/>

		<!--kindeditor上传图片，视频，文件的配置-->
		<add key="ImageSize" value="600000"/>
		<add key="AdImgURL" value="~/Upload/image/"/>
		<add key="Attach_Size" value="102400000"/>
		<add key="Attach_Image" value="gif,jpg,jpeg,png,bmp"/>
		<add key="Attach_Flash" value="swf,flv"/>
		<add key="Attach_Media" value="swf,flv,mp3,wav,wma,wmv,mid,avi,mpg,asf,rm,rmvb"/>
		<add key="Attach_File" value="doc,docx,xls,xlsx,ppt,pptx,pdf,htm,html,txt,js,zip,rar,gz,7z,bz2"/>
	</appSettings>
	<!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<!--kindeditor的配置需要设置,pages validateRequest="false" -->
		<httpRuntime requestValidationMode="2.0" maxRequestLength="2097151" executionTimeout="3600"/>
		<pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
	</system.web>
	<applicationSettings>
		<WebSite.Properties.Settings>
			<setting name="WebSite_TechMaxSms_SMSWebService" serializeAs="String">
				<value>http://note.i-conference.org/SMSWebService.asmx</value>
			</setting>
		</WebSite.Properties.Settings>
	</applicationSettings>
</configuration>